@CHARSET "ISO-8859-1";
body, input {
	font-family: Segoe UI, Arial, Times;
	font-size: 12pt;
}

a {
	color:black;
}

span {
	margin: 5px;
	padding: 5px;
}

select {
	font-family: Segoe UI;
	font-size: 12pt;
	width: 300px;
}

input[type=text],input[type=password], textarea {
	width: 300px;
	margin: 2px;
}

input[type=submit], input[type=reset], input[type=button] {
	width:100px;
	font-weight: bold;
	padding: 2px 10px;
	margin: 5px;
	float: right;
}

fieldset#fieldset_login {
	margin: auto;
	width: 280px;
	padding: 50px;
}

.label {
	float: left;
	text-align: right;
	line-height: 1.9em;
	padding-right: 2px;
}

#fieldset_login .field input {
	float: right;
}

.field a {
	padding-left: 60px;
	float: right;
	padding-top: 10px;
}

.main {
	min-height: 600px;
	clear: both;
}

.header .logo {
	float: left;
}

.header .logo img {
	width: 70%;
	padding: 10px;
}

.header {
	border-bottom: 1px dotted gray;
	min-height: 60px;
}

.header a {
	text-decoration: none;
}

.header a.selected {
	font-weight: bold;
	color: gray;
}

.header a:hover {
	text-decoration: underline;
}

.wellcome {
	float: right;
	clear: both;
}

.header ul, .header ol {
	float:right;
	list-style: none;
	padding-right: 10px;
}

.header li {
	float: left;
	padding: 0px 7px;
	border-right: 1px solid gray;
}

.footer {
	padding: 5px;
	border-top: 1px dotted gray;
}

.error, .success, .warning {
	font-weight: bold;
	padding: 10px;
	margin: 30px 2px 2px 2px;
}

.error {
	border: 2px solid #F00;
}

.success {
	border: 2px solid #0F0;
}

.warning {
	border: 2px solid #F90;
}

/* Style table */
.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

table img {
	width: 20px;
}